* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  text-align: center;
  background-color: antiquewhite;
  align-items: center;
  justify-content: center;
}

.container h1 {
  margin-top: 32px;
}

.field {
  margin: 16px 0;
  width: 100%;
  align-items: start;
}

.field input {
  padding: 6px;
}
.container button {
  border: none;
  padding: 8px;
  margin-bottom: 32px;
  background-color: saddlebrown;
  color: white;
  border-radius: 8px;
}
